$white: rgb(255, 255, 255);
$hover: rgb(99, 97, 97);
$background-color: #bdbebb, #6e6c6c, #464545, #0f0f0f;

@mixin border-radius($value) {
  border-radius: $value;
}

body {
  background: linear-gradient(to right, $background-color);
}

.header1 {
    color: rgb(19, 18, 18);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 130px;
    font-family: 'Times New Roman';
  }

.header2 {
    color: $white;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 130px;
    font-family: 'Times New Roman';
  }
  
.hire {
  @include border-radius(10px);
  font-size: 30px;
  border-color: black;
  border-width: 2px;
  cursor: 'hand';
  border-block-end-width: 3px;
  border-block-start-width: 3px;
  font-family: Times New Roman;
  background: transparent;

  transition: all 300ms ease-in-out 0.5ms;
  -webkit-transition: all 300ms ease-in-out 0.5ms;

  &:hover {
    color: $hover;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: .90;
    border-color: rgb(0, 0, 0);
  }

  &:active {
    opacity: 1;
    transform: scale(0.75) translateY(5%);
  }
}

// @keyframes pulse {
//   from {
//       transform: scale(.5);
//       opacity: .5;
//   }

//   to {
//       transform: scale(1);
//       opacity: 1;
//   }
// }

// .pulse {
//   animation: pulse 500ms;
//   animation-iteration-count: infinite;
// }

@keyframes pulse {
  0% {
    transform: translate3d(0, 0, 0);

  }
  
  25% {
    transform: translate3d(100px, 0, 0);
    transform: scale(1.50) translateY(5%);
  }
}

.pulse {
  animation: pulse 1000ms;
  animation-iteration-count: 1;
}

// .slide-container {
//   width: 800px;
//   height: 600px;
//   margin-left: auto;
//   margin-right: auto;
//   overflow: hidden;
//   text-align: center;
// }

// .image-container{
//   width: 5000px;
//   height: 300px;
//   position: relative;
//   transition: left 5000ms;
//   -webkit-transition: left 5000ms;
// }

// .slider-image {
//   float: left;
//   margin: 0px;
//   padding: 0px;
// }

// .button-container {
//   top: -20px;
//   position: relative;
// }

// .slider-button {
// display: inline-block;
// height: 10px;
// width: 10px;
// border-radius: 5px;
// background-color: white;
// }

// #slider-image-1 {
//   target ~ .image-container {
//     left: 0px;
//   }
// }
// #slider-image-2 {
//   target ~ .image-container {
//     left: -800px;
//   }
// }
// #slider-image-3 {
//   target ~ .image-container {
//     left: -1600px;
//   }
// }
// <div className='slide-container'>
// <span id='slider-image-1'></span>
// <span id='slider-image-2'></span>
// <span id='slider-image-3'></span>
// <div className='image-container'>
//   <img src='https://via.placeholder.com/150' className='slider-image' />
//   <img src='https://via.placeholder.com/300' className='slider-image' />
//   <img src='https://via.placeholder.com/450' className='slider-image' />
// </div>
// <div className='button-container'>
//   <a href='#slider-image-1' className='slider-button' />
//   <a href='#slider-image-2' className='slider-button' />
//   <a href='#slider-image-3' className='slider-button' />
// </div>
// </div>

#cf {
  position:relative;
  height: 720px;
  width: 1200px;
  top: 9%;
}

#cf3 img {
  position:absolute;
  left:0;
  margin-left: -43px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

// #cf img.top:hover {
//   opacity:0;
// }

@keyframes cf3FadeInOut {
  0% {
  opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
// 0% { left: 0;}
// 50%{ left : 100%;}
// 100%{ left: 0;}
}

#cf3 img.top {
animation-name: cf3FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 5s;
animation-direction: alternate;
}